# @devnolife packages (karirku-core) are published to GitHub Packages.
# Authenticate with a token that has read:packages:
#   npm config set //npm.pkg.github.com/:_authToken <TOKEN>
@devnolife:registry=https://npm.pkg.github.com
